*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

#container{
    display: grid;
    grid-template-rows: 1fr 5.05fr 1fr;
}

header{
    display: flex;
    justify-content: space-around;
    box-shadow: -5px 2px 8px red, 10px 4px 8px blue, 15px 2px 8px black;
    max-height: 100px;
    text-align: center;
    font-size: 3vw;
    background-image: linear-gradient(90deg,rgb(2, 139, 243),rgb(188, 59, 59));
}

header h1{
    background-image: linear-gradient(to right, blue, green, red,blue, green, red);   -webkit-background-clip: text;
    color: transparent;
}

main h1{
    top: 7.24vw;
    font-size: 8vh;
    transition: all .7s;
}

footer{
    background-color: rgb(36, 41, 47) ;
    text-align: center;
    color: white;
    box-shadow: 5px -2px 8px black, -10px -4px 8px grey, -15px -2px 8px black;
}

footer img{
    height: 4vw;
}

main{
    display: flex;
    justify-content: space-around;
    background-image: url(https://thumbs.dreamstime.com/z/tic-tac-toe-pattern-blue-background-chaotic-sample-74834641.jpg);
}

main h2{
    top: 37.5vw;
}

main input{
    display: block;
}

.gif{
    display: flex;
    flex-direction: column;
}

.gif img{
    height: 28vw;
    margin-top: 3vh ;
}

.gif button, header button{
    width: 25vw;
    height: 5vw;
    border-radius: 100px;
    background-color: aqua;
    font-size: 2vw;
    border-width: 0px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 2vh;
    margin-left: 2.5vw;
    color: red;
    background-image: url(https://thumbs.dreamstime.com/z/tic-tac-toe-pattern-blue-background-chaotic-sample-74834641.jpg);
}

/* blinking start button */
.gif button{
    animation: blink-animation 2s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
      background-image: linear-gradient(135deg,rgb(2, 139, 243),rgb(188, 59, 59));
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
      background-image: linear-gradient(135deg,rgb(2, 139, 243),rgb(188, 59, 59));
    }
  }
/* stops start button blinking animation */
.gif button:hover{
    transition: all .7s;
    background-image: linear-gradient(135deg,rgb(2, 139, 243),rgb(188, 59, 59));
    animation: blink-animation 2s steps(5, start) 0;
    -webkit-animation: blink-animation 1s steps(5, start) 0;
}

header button{
    visibility: hidden;
    background-image: linear-gradient(90deg,rgb(2, 139, 243),rgb(188, 59, 59));
    transition: all 1s;
}

header button:hover{
    height: 6vw;
    width: 27vw;
}

.header button{
    transition: all 1s;
    visibility: visible;
}

.player-one{
    background-image: linear-gradient(45deg, blue, cyan);
    
}
.player-two {
    background-image: linear-gradient(45deg, orange, red);
}

.player-one, .player-two{
    margin: 5vh;
    border-radius: 10%;
    padding: 5vw;
    color: white;
}

input{
    width: 15vw;
    border-width: 0px;
    height: 5vh;
    border-radius: 10px;
    margin-top: 3vh;
    padding: 2vh;
    position: relative;
    right: 1vw;
}
label{
    font-size: 2vw;
    font-weight: bolder;
}
input:focus{
    outline: none;
}

main img{
    margin-top: 3vw;
    height: 8vw;
    margin-left: 2vw;
}

.player-one img:hover, .player-two img:hover{
    transition: all .7s;
    height: 11.2vw;
    margin-left: 1vw;
    margin-top: 1vw;
}

.div-1,.div-2, .div-3{
    border-radius: 10%;
    color: white;
    background-color: aqua;
    margin: 3vw;
}

.div-1, .div-3{
    width: 25vw;
}

.div-1 img, .div-3 img{
    position: relative;
    top: 2vw;
    left: 3vw;
    height: 15vw;
    opacity: 0.4;
}

.div-1{
    background-image: linear-gradient(45deg, blue, cyan);
}

.div-3{
    background-image: linear-gradient(45deg, orange, red);
}

.div-1 h3, .div-3 h3{
    text-align: center;
    font-size: 3vw;
}

.div-2{
    background-color: transparent;
}

.game-container{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}

.game-container > div{
    padding: 5vw;
    background-color: rgba(0, 90, 128, 0.642); 
    border-radius: 50%;   
}

.outline{
    position: absolute;
    top: 7.8vw;
    left: 32vw;
    height: 30vw;
}

.noclicks{
    pointer-events: none;
}

::placeholder{
    color: red;
}

.turn img{
    transition: all .7s;
    height: 20vw;
    margin-left: 0;
    margin-top: 1vw;
    opacity: 1;
}

.game-status{
    color: rgb(255, 255, 0);
    transition: all .7s;
    padding-top: 13vw;
    max-height: 36.4vw;
    min-height: 35.4vw;
    max-width: 42vw;
    min-width: 42vw;
    text-align: center;
    background-image: url(https://thumbs.dreamstime.com/z/tic-tac-toe-pattern-blue-background-chaotic-sample-74834641.jpg);
}